{# templates/anime/upload_form.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <title>Upload Anime Links</title>
</head>
<body>
    <h1>Upload Anime Links</h1>

    <form action="{{ path('anime_upload') }}" method="POST">
        <label for="manga_id">ID Manga:</label>
        <input style="width: 200px; height: 30px;" type="number" name="manga_id" id="manga_id" required>

        <label for="saison_numero">Numéro de Saison:</label>
        <input style="width: 200px; height: 30px;" type="number" name="saison_numero" id="saison_numero" required>

        <label for="lecteur1">Liens SIBNET (séparés par des virgules):</label>
        <textarea style="width: 1298px; height: 315px;" name="lecteur1" id="lecteur1" required></textarea>

        <label for="lecteur2">Liens VIDMOLY (séparés par des virgules):</label>
        <textarea style="width: 1298px; height: 315px;" name="lecteur2" id="lecteur2" required></textarea>

        <label for="lecteur3">Liens SENDVID (séparés par des virgules):</label>
        <textarea style="width: 1298px; height: 315px;" name="lecteur3" id="lecteur3" required></textarea>

        <label for="is_film">Cochez si c'est un film:</label>
        <input type="checkbox" name="is_film" id="is_film" value="true">

        <button type="submit">Soumettre</button>
    </form>
</body>
</html>

