/* Styles pour les écrans plus larges */
@media screen and (max-width: 1342px) {
    .home-navbar-container {
        min-width: 1000px;
    }

    .main-video-container{
        max-width: 1000px;
        margin: 0 auto;
    }
    .image-profil-container{
        width: 980px;
    }
    .profile-anime-section {
        width: 980px;
    }
}

@media screen and (max-width: 1062px) {
    .home-navbar-container {
        min-width: 900px;
    }

    .main-video-container{
        max-width: 900px;
        margin: 0 auto;
    }
    .header-section {
        position: relative;
        width: 100%;
        height: 25vh;
        overflow: hidden;
    }
    .logo-site img{
        padding-right: 13px;
    }
    .anime-lecture-box {
        width: 900px;
    }
    #video-iframe{
        width:900px;
        margin-bottom: 40px;
    }

    .image-profil-container{
        width: 800px;
        max-height: 300px;
    }
    .profile-anime-section {
        width: 800px;
    }
    .card{
        width: 150px;
    }
}

@media screen and (max-width: 980px) {
    .home-navbar-container {
        min-width: 700px;
        padding: 25px;
    }
    .search-form{
        --height-of-input: 60px;
        --width-of-input: 800px;
    }
    .anime-container {
        margin: 5px 10px;
    }
    .main-video-container{
        max-width: 920px;
        margin: 0 auto;
    }
    .header-section {
        position: relative;
        width: 100%;
        height: 25vh;
        overflow: hidden;
    }
    .anime-item {
        width: 190px;
        height: 345px;
    }
    .logo-site img{
        padding-right: 13px;
    }
    .footer-section p, .footer-section ul {
        font-size: 11px;
    }
    .footer-section h3 {
        font-size: 14px;
    }
    .anime-lecture-box {
        width: 800px;
    }
    #video-iframe{
        width:800px;
    }
    .anime-lecture-container h2{
        font-size: 1.3em;
    }
    .anime-lecture-container h1{
        font-size: 1.8em;
    }
    .image-profil-container{
        width: 700px;
        max-height: 270px;
    }
    .profile-anime-section {
        width: 800px;
    }
    .card{
        width: 150px;
    }
    .anime-catalogue-filter {
        max-width: 900px;
    }
    #search-input {
        padding: 25px;
    }
    .anime-catalogue-item {
        height: 320px;
    }
    .checkbox-wrapper-16 .checkbox-tile {
        min-height: 40px;
    }
}

@media screen and (max-width: 831px) {
    .header-section {
        position: relative;
        width: 100%;
        height: 25vh;
        overflow: hidden;
    }
    .logo-site{
        margin: 0 auto;
        padding: 15px;
    }
    .home-icon-account{
        display: none;
        padding-left: 10px;
    }
    .logo-site img{
        padding-right: 8px;
    }
    .anime-lecture-box {
        width: 700px;
    }
    #video-iframe{
        width:700px;
        margin-bottom: 40px;
    }
    .image-profil-container{
        width: 600px;
        max-height: 220px;
    }
    .profile-anime-section {
        width: 600px;
        margin: 0 60px;
    }
    .main-profile-container p {
        font-size: 16px;
    }
    .main-profile-container strong {
        font-size: 16px;
    }
    .card{
        width: 150px;
    }
}

@media screen and (max-width: 728px) {
    .home-navbar-container {
        min-width: 600px;
    }
    .search-form {
        --width-of-input: 400px;
    }
    #search-results{
        margin-top: 0;
        border-radius: 5px;
    }
    .header-section {
        position: relative;
        width: 100%;
        height: 20vh;
        overflow: hidden;
    }
    .anime-lecture-box {
        width: 600px;
    }
    #video-iframe{
        width:600px;
        height: 450px;
        margin-bottom: 40px;
    }
    .image-profil-container{
        width: 580px;
        max-height: 190px;

    }
    .main-profile-container p {
        font-size: 15px;
        max-width: 90%;

    }
    .main-profile-container strong {
        font-size: 14px;
    }
    .saisons-container {
        padding: 10px;
    }
    .card{
        width: 150px;
    }
    #search-input{
        max-width: 450px;
    }
}


@media screen and (max-width: 680px) {
    .home-navbar-container {
        min-width: 600px;
    }
    .search-form {
        --width-of-input: 400px;
    }
    .header-section {
        position: relative;
        width: 100%;
        height: 20vh;
        overflow: hidden;
    }
    .anime-lecture-box {
        width: 600px;
    }
    #search-results{
        margin-top: 0;
        border-radius: 5px;
    }
    #video-iframe{
        width:600px;
        height: 450px;
        margin-bottom: 40px;
    }
    .image-profil-container{
        width: 500px;
        max-height: 190px;

    }
    .main-profile-container p {
        font-size: 15px;
        max-width: 90%;
    }
    .main-profile-container strong {
        font-size: 14px;
    }
    .saisons-container {
        padding: 10px;
    }
    .card{
        width: 150px;
    }
}


@media screen and (max-width: 647px) {
    .home-navbar-container {
        min-width: 500px;
    }
    .anime-lecture-box {
        width: 510px;
    }
    #video-iframe{
        width:510px;
        height: 400px;
        margin-bottom: 40px;
    }
    #search-results{
        margin-top: 0;
        border-radius: 5px;
    }
    .image-profil-container{
        width: 450px;
        max-height: 180px;

    }
    .profile-anime-section {
        width:500px;
    }
    .main-profile-container p {
        font-size: 15px;
    }
    .main-profile-container strong {
        font-size: 15px;
    }
    .card{
        width: 100px;
        height: 100px;
    }

}

@media screen and (max-width: 528px) {
    .home-navbar-container {
        min-width: 400px;
    }
    .anime-lecture-box {
        width: 410px;
    }
    #video-iframe{
        width:410px;
        height: 300px;
        margin-bottom: 40px;
    }
    #search-results{
        margin-top: 0;
        border-radius: 5px;
    }
    .profile-manga-roles{
        width: 400px;
    }
    .card{
        max-width: 170px;
    }
    body{
        overflow-x: hidden;
    }
    .cover-container img{
        max-width: 400px;
    }
    #search-input{
        max-width: 350px;
    }
}

@media screen and (max-width: 436px) {
    body{
        overflow-x: hidden;
    }
    .home-navbar-container {
        min-width: 300px;
    }
    .search-form {
        --width-of-input: 300px;
    }
    .main-video-container h2{
        font-size: 17px;
    }
    .main-video-container h3{
        font-size: 14px;
    }
    #search-results{
        margin-top: 0;
        border-radius: 5px;
    }
    .scan-item img {
        height: 150px;
    }
    .scan-item {
        width: 110px;
    }
    .scan-container {
        padding: 2px;
        width: 120px;
    }
    
    .anime-lecture-box {
        width: 340px;
    }
    #video-iframe{
        width:340px;
        height: 250px;
        margin-bottom: 40px;
    }
    .cover-container img{
        max-width: 350px;
    }
    #search-input{
        max-width: 250px;
    }
}
@media screen and (max-width: 358px) {
    .anime-lecture-box {
        width: 290px;
    }
    #video-iframe{
        width:290px;
        height: 200px;
        margin-bottom: 40px;
    }
    #search-results{
        margin-top: 0;
        border-radius: 5px;
    }
    .cover-container img{
        max-width: 290px;
    }
    #search-input{
        max-width: 200px;
    }
}
@media screen and (max-width: 323px) {
    .home-navbar-container {
        min-width: 200px;
    }
    #search-results{
        margin-top: 0;
        border-radius: 5px;
    }
    .search-form {
        --width-of-input: 250px;
    }
    .main-video-container h2{
        font-size: 17px;
    }
    .main-video-container h3{
        font-size: 14px;
    }
    .scan-item img {
        height: 150px;
    }
    .scan-item {
        width: 110px;
    }
    .scan-container {
        padding: 2px;
        width: 120px;
    }
    .main-video-container h2{
        font-size: 15px;
    }
    .main-video-container h3{
        font-size: 13px;
    }
    #searchButtonBar {
        width: 40%;
    }
    .anime-lecture-box {
        width: 200px;
    }
    #video-iframe{
        width:200px;
        height: 200px;
        margin-bottom: 40px;

    }
    #lecteur-select {
        width: 70px;
    }
    #episode-select{
        width: 70px;
    }
    .cover-container img{
        max-width: 200px;
    }
    .navigation-buttons button{
        max-width: 123px;
    }
    #search-input{
        max-width: 150px;
    }
}