<footer>
    <div class="footer-content">
        <div class="footer-section about">
            <h3>À propos</h3>
            <p>
                Bienvenue sur InMyScan, votre plateforme dédiée à la découverte et au visionnage des meilleurs animes.
                Retrouvez des centaines de mangas et d'animes à découvrir et partager avec vos amis.
            </p>
        </div>
    <div class="footer-section links">
        <h3>DMCA</h3>
        <p>
            InMyScan est une plateforme qui indexe uniquement les liens vers des scans de mangas ainsi que les animes disponibles publiquement sur d'autres sites. Nous ne stockons aucun contenu protégé par des droits d'auteur sur nos serveurs et n'hébergeons pas directement les scans. 
            <br><br>
            Nous comprenons que la législation concernant les droits d'auteur sur les œuvres numérisées peut être floue. Si vous êtes titulaire de droits ou un représentant légitime, et que vous souhaitez faire valoir vos droits sur un contenu spécifique référencé sur notre site, nous vous invitons à nous contacter via notre serveur Discord. Vous devrez fournir des preuves solides de la propriété de ces droits.
            <br><br>
            Dès que la preuve de la propriété est établie, nous retirerons le lien concerné du site dans les plus brefs délais, conformément aux dispositions de la <a style="color: red;" href="https://www.law.cornell.edu/uscode/text/17/512">section 512(c) du Digital Millennium Copyright Act (DMCA)</a>.
            <br><br>
            Veuillez noter que ce processus est en place pour protéger à la fois les créateurs de contenu et les utilisateurs, tout en respectant les principes de la législation internationale sur les droits d'auteur.
        </p>
    </div>

        <div class="footer-section links">
            <h3>Liens utiles</h3>
            <ul>
                <li><a href="#">Conditions d'utilisation</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; {{ "now"|date("Y") }} InMyScan. Tous droits réservés.</p>
    </div>
</footer>
